[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mistletoe = "*"
"jinja2" = "*"
python-frontmatter = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
